#sessions {
  background-color: black;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SessionDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  padding-bottom: 10px;
  width: 100%;
  max-width: 1000px;
  background: var(--card-color);
  border: 1px solid rgb(43, 42, 42);
  border-radius: 20px;
}

.SessionDiv:hover {
  /* transform: scale(1.s */
  background: #191919;
  transition: 0.2s;
}

.SessionDiv img {
  width: 80px;
  opacity: 0.5;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 5px;
  opacity: 1;
}

.openHours {
  font-size: 2.4rem;
  opacity: 0.9;
}
