#services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding-top: 70px;
  background-color: black;
  align-items: center;
}

.serviceCardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1100px;
  gap: 50px 50px;
}

.communityImg {
  width: 100px;
}

@media (max-width:570px) {
  .serviceCardsContainer{
    gap: 15px;
  }
}