.slider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: yellow; */
  width: 80%;
}

.imgDiv {
  width: 900px;
  height: 500px;
  margin: 0;
  /* background-color: brown; */
  overflow: hidden;
  border-radius: 10px;
}

.imgDiv img {
  width: 100%;
}

.arrow {
  width: 75px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

.arrow:hover {
  opacity: 1;
}

.leftArrow {
  transform: rotate(90deg);
}

.rightArrow {
  transform: rotate(-90deg);
}

@media (max-width: 1000px) {
  .imgDiv {
    display: flex;
    width: 100%;
    height: 267px;
    align-items: center;
    padding: 0;
    /* background-color: yellow; */
  }

  .imgDiv img {
    width: 100%;
  }

  .arrow {
    margin: 0 9px;
    opacity: 0.5;
    position: absolute;
    width: 14%;
  }

  .leftArrow {
    left: 0;
  }

  .rightArrow {
    right: 0;
  }
}
