#passes {
  background-color: black;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.passCardsContainer {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 570px) {
  #passes {
    padding-top: 70px;
  }

  .passCardsContainer {
    gap: 32px;
    /* background-color: yellow; */
    transform: translateY(-6%);
  }

  .second {
    display: flex;
    justify-content: center;
    width: 100%;
    transform: scale(0.85);
  }
}
