/* section {
  margin: 0;
  padding: 0 150px;
} */

#hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  position: relative;
  justify-self: center;
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0);
  color: white;
  /* max-width: 1440px; */
}

.hero {
  position: relative;
  width: 100%;
  /* background: url(/Assets/Glower\ \(1\).png); */
  background: url(../../assets/yellow-neon-light-mibwkolwdtvod82a\ \(12\)-Picsart-AiImageEnhancer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 600px;
  max-height: auto;
  /* max-height: 800px; */
  padding: 0 0 120px 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* .hero::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/Assets/yellow-neon-light-mibwkolwdtvod82a\ \(12\)-Picsart-AiImageEnhancer.png);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: calc(-200px);
  transform: rotate(-0.5deg);
} */

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 40px 120px;
  align-items: center;
  padding-bottom: 100px;
  z-index: 2;
  /* background-color: yellow; */
}

.navbar h1 {
  font-size: 2.5rem;
  margin-top: 0;
}

.menu {
  width: 30px;
  display: none;
}

.navbar ul {
  width: 40%;
  list-style: none;
  display: flex;
  gap: 7px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  z-index: 1;
  animation-name: text-appear;
  animation-duration: 1.3s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

.navbar ul li {
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.navbar ul li:hover {
  background: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
}

/* .navbar ul li:active {
  background: rgba(255, 255, 255, 1);
  color: rgb(0, 0, 0);
} */

.header-text {
  /* margin-top: 30px; */
  /* background-color: yellow; */
  display: inline-block;
  backdrop-filter: blur(10px);
  transform: translateY(-20%);
  z-index: 1;
  margin-left: 120px;
  /* background-color: yellow; */
}

.header-text h1 {
  margin-bottom: 0;
  font-size: 5rem;
  line-height: 80%;
  letter-spacing: 1.4px;
  font-weight: 400;
  animation-name: text-appear;
  animation-duration: 1.2s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

.header-text p {
  width: 400px;
  font-size: 1.1rem;
  line-height: 98%;
  margin-top: 0;
  opacity: 0.8;
  letter-spacing: 0.4px;
  animation-name: text-appear;
  animation-duration: 1.2s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

.header-text button {
  padding: 10px 15px;
  font-size: 1.6rem;
  background: rgb(204, 204, 204);
  border-radius: 4px;
  letter-spacing: 1px;
  animation-name: btnappear;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
}

.skate {
  position: absolute;
  width: 80%;
  top: 0;
  left: 0;
  opacity: 0.65;
  transform: translateX(37%) translateY(20%) rotate(60.5deg);
  animation: skate-motion;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
}

@keyframes skate-motion {
  0% {
    transform: translateX(-6%) translateY(47%) rotate(60.5deg);
    opacity: 0;
  }
  100% {
    transform: translateX(37%) translateY(20%) rotate(60.5deg);
    opacity: 0.65;
  }
}
@keyframes text-appear {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes btnappear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* END oF DESKTOP HERO SECTION */

/* MOBILE VIEW  */

@media (max-width: 1000px) {
  .hero {
    background-image: url("../../assets/mobile-wiew2.png");
    background-position: center;
    background-size: cover;
    padding-top: 30px;
  }

  .navbar {
    padding: 0;
    margin-bottom: 30px;
    /* width: 100%; */
    justify-content: space-between;
    /* background-color: tomato; */
    padding: 30px 40px;
  }

  .navbar h1 {
    font-size: 1.5rem;
    line-height: 80%;
    width: 100px;
    margin: 0;
  }

  .uldiv {
    display: none;
  }

  .uldiv.show {
    display: block;
    position: absolute;
    background-color: var(--card-color);
    align-items: center;
    left: 0;
    top: 0;
    height: 100vh;
    justify-content: center;
    /* display: none; */
    width: 100%;
  }

  .uldiv ul {
    animation: none;
    font-size: 2rem;
    position: absolute;
    top: 16%;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 0;
  }

  .menu {
    display: block;
    width: 11%;
    margin: 0;
    cursor: pointer;
    margin-bottom: 8px;
    z-index: 1;
  }

  .header-text {
    margin: 0;
    margin-top: 70px;
    backdrop-filter: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    scale: 1.4;
  }

  .header-text h1 {
    font-size: 2.7rem;
    text-align: center;
  }

  .header-text p {
    font-size: 0.7rem;
    width: 200px;
    opacity: 0.8;
    text-align: center;
    margin-top: 9px;
    opacity: 1;
    margin-bottom: 0;
  }

  .header-text button {
    font-size: 1.1rem;
    padding: 6px 7px;
    margin-top: 7px;
    z-index: 999;
    scale: 0.92;
    letter-spacing: 0.5px;
  }

  .skate {
    position: absolute;
    transform: none;
    width: 130%;
    left: 50%;
    transform: translateX(-52%);
    top: 50%;
    margin: 0;
    /* background-color: yellow; */
    animation: none;
  }
}
