/* section {
  margin: 0;
  padding: 0 150px;
} */

#hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  position: relative;
  justify-self: center;
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0);
  color: white;
  max-width: 1440px;
}

.hero {
  /* background-color: yellow; */
  position: relative;
  /* background: url(/Assets/Glower\ \(1\).png); */
  background: url(../../assets/yellow-neon-light-mibwkolwdtvod82a\ \(12\)-Picsart-AiImageEnhancer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 600px;
  max-height: auto;
  /* max-height: 800px; */
  padding: 0 40px 120px 120px;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* .hero::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/Assets/yellow-neon-light-mibwkolwdtvod82a\ \(12\)-Picsart-AiImageEnhancer.png);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: calc(-200px);
  transform: rotate(-0.5deg);
} */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
  padding-bottom: 100px;
  /* background-color: yellow; */
}

.navbar h1 {
  font-size: 2.5rem;
  margin-top: 0;
}

.menu {
  width: 30px;
  display: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 7px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  z-index: 1;
  animation-name: text-appear;
  animation-duration: 1.3s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

.navbar ul li {
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.navbar ul li:hover {
  background: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
}

/* .navbar ul li:active {
  background: rgba(255, 255, 255, 1);
  color: rgb(0, 0, 0);
} */

.header-text {
  /* margin-top: 30px; */
  /* background-color: yellow; */
  display: inline-block;
  backdrop-filter: blur(10px);
  transform: translateY(-20%);
  /* background-color: yellow; */
}

.header-text h1 {
  margin-bottom: 0;
  font-size: 5rem;
  line-height: 80%;
  letter-spacing: 1.4px;
  font-weight: 400;
  animation-name: text-appear;
  animation-duration: 1.2s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

.header-text p {
  width: 400px;
  font-size: 1.1rem;
  line-height: 98%;
  margin-top: 0;
  letter-spacing: 0.4px;
  animation-name: text-appear;
  animation-duration: 1.2s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

.header-text button {
  padding: 10px 15px;
  font-size: 1.6rem;
  background: rgb(204, 204, 204);
  border-radius: 4px;
  letter-spacing: 1px;
  animation-name: btnappear;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
}

.skate {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.65;
  transform: translateX(35%) translateY(16%) rotate(60.5deg);
  animation: skate-motion;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
}

@keyframes skate-motion {
  0% {
    transform: translateX(-6%) translateY(47%) rotate(60.5deg);
    opacity: 0;
  }
  100% {
    transform: translateX(35%) translateY(16%) rotate(60.5deg);
    opacity: 0.65;
  }
}
@keyframes text-appear {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes btnappear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* END oF DESKTOP HERO SECTION */

/* MOBILE VIEW  */

@media (max-width: 570px) {
  #hero {
    padding: 0;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100vh;
    max-height: 900px;
  }

  .hero {
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 570px;
    background-image: url(../../assets/mobile-view.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    text-align: center;
  }

  .navbar {
    display: flex;
    position: relative;
    align-items: center;
    /* justify-content: center; */
    /* background-color: yellow; */
    padding: 40px 40px 30px 50px;
  }

  .navbar h1 {
    scale: 1;
    width: 100px;
    font-size: 1.5rem;
    line-height: 90%;
    /* background-color: brown; */
    margin: 0;
    text-align: left;
  }

  .uldiv {
    display: flex;
    display: none;
    position: absolute;
    align-self: center;
    align-items: center;
    top: 0;
    left: 0;
    justify-self: center;
    width: 100%;
    height: 100vh;
    background-color: var(--card-color);
    z-index: 1;
    transition: 0.1;
  }

  .navbar .menu {
    display: block;
    cursor: pointer;
    z-index: 2;
    margin: 0;
    /* margin-right: 50px; */
    /* background-color: brown; */
  }

  .uldiv ul {
    align-self: center;
    justify-self: center;
    width: 100%;
    padding: 0;
    /* background-color: turquoise; */
    scale: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-duration: 0.3s;
  }

  .uldiv.show {
    align-items: center;
    display: flex;
  }

  .header-text {
    /* scale: 0.5; */
    margin: 0;
    backdrop-filter: none;
    margin-top: 60px;
  }
  .header-text h1 {
    font-size: 2.7rem;
    text-align: center;
  }

  .header-text p {
    font-size: 1rem;
    width: 250px;
    text-align: center;
    margin-top: 9px;
    opacity: 1;
    margin-bottom: 0;
  }

  .header-text button {
    font-size: 1.1rem;
    padding: 6px 7px;
    margin-top: 5px;
    z-index: 10;
  }

  .skate {
    top: 50%;
    left: 0;
    transform: translateX(-7.5%) translateY(0) rotate(0);
    opacity: 0.5;
    width: 550px;
    background-color: yellow;
  }
}
