.serviceCard {
  background: var(--card-color);
  /* opacity: 0.1; */
  backdrop-filter: blur(10px);
  border: 0.1px solid rgb(60, 60, 60);
  padding: 40px 15px;
  width: 420px;
  border-radius: 20px;
}

.serviceCard img {
  width: 80px;
  opacity: 0.5;
  margin-bottom: 0;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 3px;
  margin-top: 15px;
}

p {
  margin-top: 3px;
  opacity: 0.8;
}

.cardInfo {
  opacity: 1;
}

.serviceCard:hover {
  transform: scale(1.02);
  background: #1f1f1f;
  transition: 0.4s;
}

@media (max-width: 1000px) {
  .serviceCard {
    width: 320px;
    padding: 25px 15px;
  }

  /* .serviceCard img {
    width: 17%;
  } */

  .serviceCard h3 {
    font-size: 1.3rem;
    margin-top: 5px;
  }

  .cardInfo {
    font-size: 0.8rem;
    opacity: 0.8;
  }

  .imgdiv {
    scale: 0.78;
    margin: 0;
  }
}
