#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  background-color: black;
}

.aboutdiv {
  display: flex;
  gap: 50px;
  align-items: center;
}

.aboutdiv img {
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
}

.aboutText {
  width: 100%;
  max-width: 350px;
  font-size: 1.8rem;
  line-height: 107%;
}

.aboutText p {
  margin-bottom: 15px;
  letter-spacing: 0.7px;
  opacity: 1;
  font-weight: 100;
}

.aboutText button {
  font-size: 1.8rem;
  padding: 8px 8px;
  border-radius: 5px;
  background: rgb(204, 204, 204);
  margin-top: 0;
  letter-spacing: 0.7px;
}

@media (max-width: 700px) {
  .aboutdiv {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 0 16px;
  }

  .aboutText {
    font-size: 1.1rem;
    max-width: 90%;
    text-align: center;
  }
}

@media (max-width: 570px) {
  #about {
    padding-top: 70px;
  }

  .aboutdiv img {
    width: 82%;
    border-radius: 10px;
  }

  .aboutdiv button {
    font-size: 1.3rem;
    letter-spacing: 0.4px;
  }
}
