#gallery {
  background-color: black;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  #gallery {
    padding-top: 40px;
  }
}
