#footer {
  background-color: #363636;
  padding-top: 90px;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.LSQ {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}

.LSQ h1 {
  padding: 0;
  margin: 0;
  line-height: 90%;
  width: 110px;
}

.socials {
  display: flex;
  height: 60px;
  gap: 15px;
}

.socials img {
  width: 53px;
  height: 53px;
}

.quickLinks,
.quickLinks p {
  line-height: 1.5px;
  opacity: 1;
  font-size: 1.3rem;
  text-align: left;
}

.quickLinks p:hover {
  cursor: pointer;
  opacity: 0.8;
}

.copyright {
  font-size: 1rem;
  font-family: roboto, sans-serif;
  letter-spacing: 0.2px;
}

@media (max-width: 570px) {
  #footer {
    padding-top: 30px;
  }

  .LSQ {
    /* background-color: yellow; */
    margin-bottom: 10px;
  }

  .LSQ h1 {
    font-size: 1.5rem;
    line-height: 90%;
    width: 100px;
  }

  .socials {
    scale: 0.65;
  }

  .quickLinks p {
    font-size: 0.9rem;
  }

  .copyright {
    font-size: 0.6rem;
    font-family: roboto;
    letter-spacing: 0.1px;
  }
}
