@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --card-color: #191919;
  --yellow-text: #e8fc04;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
  /* padding: 0; */
}

* {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1.4px;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  background: #1b1b1b;
  width: 100%;
  overflow-x: hidden;
  /* background-color: var(--yellow-text); */
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

section {
  margin: 0;
  background-color: black;
}

.section-title {
  font-size: 2.5rem;
  color: white;
  font-weight: 550;
  margin-top: 30px;
  margin-bottom: 50px;
}

h1,
h2,
h3 {
  font-weight: 500;
}

@media (max-width: 570px) {
  .section-title {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
