.passCards {
  display: flex;
  flex-direction: column;
  background: var(--card-color);
  width: 300px;
  align-items: center;
  padding: 90px 0 50px 0;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.passCards h2 {
  font-size: 2.4rem;
  margin: 0;
  margin-bottom: 3px;
}

.passCards h3 {
  margin: 0;
  margin-bottom: 3px;
  opacity: 0.8;
}

.passCards h1 {
  margin: 0;
  color: var(--yellow-text);
  margin-bottom: 3px;
}

.passCards button {
  font-size: 1.7rem;
  background-color: black;
  color: white;
  border: 1px solid var(--yellow-text);
  border-radius: 10px;
  text-align: center;
  padding: 7px 10px 5px 10px;
  margin-top: 10px;
  letter-spacing: 0.9px;
}

.passCards:hover {
  transform: translateY(-1%) scale(1.005);
}
